html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: #fff;
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  accent-color: #0061e0;
}
.dark-mode-enabled {
  background-color: #303030;
  accent-color: #00ddff;
}

:is(.header, .footer) a {
  position: relative;
}

:is(.header, .footer) a:after {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 0;
  border-radius: 0.2rem;
  height: 0.4rem;
  background: #0061e0;
  opacity: 0;
  transition: all 0.3s ease;
}
.dark-mode-enabled :is(.header, .footer) a:after {
  background-color: #00ddff;
}

:is(.header, .footer) a:hover:after {
  left: 25%;
  width: 50%;
  opacity: 1;
}

.logo {
  background: url(images/logo.svg) no-repeat center / 75%;
}

#header #header-avatar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  padding: 0.2rem;
  border: none;
  border-radius: 50%;
}

#header #header-avatar:after {
  display: none;
}

#content {
  width: 100%;
  height: 100vh;
  border: none;
}

/* Dropdown */
.dropdown {
  position: fixed;
  width: 256px;
  border-radius: 1rem;
  padding: 0.8rem;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2), 0 0.3rem 0.6rem rgba(0,0,0,0.3);
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.0);
}
html[dir="rtl"] .dropdown {
  transform-origin: 0 0;
}
html[dir="ltr"] .dropdown {
  transform-origin: 100% 0;
}
.dark-mode-enabled .dropdown {
  background-color: #303030;
}

.dropdown.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1.0);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.25);
}

.dropdown > header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  height: 3rem;
  padding: 0 3rem;
  color: #858585;
  width: 100%;
  box-sizing: border-box;
}
html[dir="ltr"] .dropdown > header {
  text-align: left;
}
html[dir="rtl"] .dropdown > header {
  text-align: right;
}

.dropdown > a {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  height: 4rem;
  padding: 0 3rem;
  color: #333;
  text-decoration: none;
  display: block;
  border-radius: 0.4rem;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
html[dir="ltr"] .dropdown > a {
  text-align: left;
}
html[dir="rtl"] .dropdown > a {
  text-align: right;
}
.dark-mode-enabled .dropdown > a {
  color: #fff;
}

.dropdown > a:hover {
  background: rgba(0,0,0,0.05);
}
.dark-mode-enabled .dropdown > a:hover {
  background-color: rgba(255,255,255,0.05);
}

.dropdown > a:active {
  background: rgba(0,0,0,0.1);
}
.dark-mode-enabled .dropdown > a:active {
  background-color: rgba(0,0,0,0.15);
}

html[dir="ltr"] .dropdown > a[data-icon] {
  padding-left: 4rem;
}
html[dir="rtl"] .dropdown > a[data-icon] {
  padding-right: 4rem;
}

.dropdown > a[data-icon]:before {
  position: absolute;
  top: 50%;
  margin-top: -1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
html[dir="ltr"] .dropdown > a[data-icon]:before {
  left: 0.8rem;
}
html[dir="rtl"] .dropdown > a[data-icon]:before {
  right: 0.8rem;
}

.dropdown > label {
  color: #333;
  line-height: 4rem;
  height: 4rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  display: block;
}
html[dir="ltr"] .dropdown > label {
  padding-left: 4rem;
}
html[dir="rtl"] .dropdown > label {
  padding-right: 4rem;
}
.dark-mode-enabled .dropdown > label {
  color: #fff;
}

.dropdown > label input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  margin: 0;
  margin-top: -1rem;
}
html[dir="ltr"] .dropdown > label input[type="checkbox"] {
  left: 1rem;
}
html[dir="rtl"] .dropdown > label input[type="checkbox"] {
  right: 1rem;
}

.dark-mode-enabled .logo {
  background-image: url(images/logo_dark.svg);
}
