[role="region"] > header:first-child.banner {
  padding: 0 calc(50% - (1024px / 2));
  background: var(--background-plus) !important;
  z-index: 20;
  box-shadow: none;

  height: 5rem;
  opacity: 1;
  visibility: visible;
  transition: height 0.5s ease, opacity 0.5s ease, visibility 0.5s;
}

[role="region"] > header:first-child.banner.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

[role="region"] > header:first-child.banner > h1 {
  text-align: center !important;
  color: var(--text-color) !important;
  font-size: 1.6rem;
  font-weight: normal;
}
