html, body {
  background: linear-gradient(45deg, #00ddff, #40a060, #0061e0);
}

.login-dialog {
  background: #fff !important;
  backdrop-filter: none !important;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.3) !important;
}

.login-dialog h1 {
  padding: 1rem 1.5rem !important;
}

.login-dialog > * {
  animation: scale-in 0.3s ease;
}

@keyframes scale-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

.login-dialog input {
  width: calc(100% - 3rem);
}

.login-dialog .warning {
  width: calc(100% - 5rem);
}
