/*
 * Modifications
 */
#root {
  height: 100vh;
  transition: transform 0.3s ease;
}

#root > section {
  perspective: 100vh;
  overflow: auto;
  background: var(--background-plus) !important;
}

[role="region"] > header:first-child a,
[role="region"] > header:first-child button {
  text-transform: unset !important;
  font-weight: normal !important;
  border-radius: 1rem !important;
}

[role="region"] > header:first-child .home-link {
  font-size: 0 !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
  margin: 0.5rem !important;
}

[role="region"] > header:first-child form {
  display: block;
  width: 4.5rem;
  height: 5rem;
}
html[dir="ltr"] [role="region"] > header:first-child form {
  float: right;
}
html[dir="rtl"] [role="region"] > header:first-child form {
  float: left;
}

[role="region"] > header:first-child form ~ * {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

[role="region"] > header:first-child form:focus-within ~ * {
  visibility: hidden;
  opacity: 0;
}
html[dir="ltr"] [role="region"] > header:first-child form:focus-within ~ * {
  transform: translateX(-32px);
}
html[dir="rtl"] [role="region"] > header:first-child form:focus-within ~ * {
  transform: translateX(32px);
}

[role="region"] > header:first-child form > p input + a,
[role="region"] > header:first-child form > p input + button {
  margin: -100% 0 0 !important;
  z-index: 1;
}

[role="region"] > header:first-child form > p input + button[type="reset"] {
  background-image: url(/shared/style/input_areas/images/clear.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

#frame {
  width: 100vw;
  float: left;
}

#frame > iframe {
  width: 100%;
  height: calc(100vh - 5rem);
  border: none;
}

#account {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#account > img {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  background: #000;
  border-radius: 50%;
}

.searchbox {
  margin: 0.5rem !important;
  border: none !important;
  padding: 0;
  box-sizing: border-box;
  height: 4rem;
  border-radius: 1rem !important;
  color: var(--text-color);
  width: 4rem !important;
  font-family: sans-serif;
  font-size: 1.6rem;
  display: none;
  box-sizing: border-box;
  font-size: 0 !important;
  transition: width 0.3s ease;
  z-index: 1;
  position: relative;
  -moz-margin-start: 0 !important;
}
html[dir="ltr"] .searchbox {
  background: var(--background) url(images/search.svg) no-repeat left 1rem center / 2rem;
  float: right;
}
html[dir="rtl"] .searchbox {
  background: var(--background) url(images/search.svg) no-repeat right 1rem center / 2rem;
  float: left;
}

[role="region"] > header:first-child form:focus-within .searchbox {
  width: 480px !important;
  padding: 0 1rem !important;
  font-size: 1.6rem !important;
  box-shadow: none;
  max-width: calc(100vw - 1rem);
}
html[dir="ltr"] [role="region"] > header:first-child form:focus-within .searchbox {
  padding-left: 4rem !important;
}
html[dir="rtl"] [role="region"] > header:first-child form:focus-within .searchbox {
  padding-right: 4rem !important;
}

[lang="ar"] #root header menu[type="toolbar"] a:not(:last-child),
[lang="ar"] #root header menu[type="toolbar"] button:not(:last-child) {
  margin: 0.5rem 0 !important;
}

#screen-reader-hint {
  position: absolute;
  right: 0;
  bottom: 2rem;
  background: #101010;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 5rem;
  line-height: 5rem;
  width: 320px;
  opacity: 0;
  color: #fff;
  animation: screenReaderHint 3s cubic-bezier(0.2, 0.9, 0.1, 1.0) forwards 0.5s;
}

@keyframes screenReaderHint {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(100%);
    box-shadow: -320px 0 0 var(--accent-color);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
    box-shadow: -5px 0 0 var(--accent-color), 0 0.5rem 1rem rgba(0,0,0,0.3);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
    box-shadow: -5px 0 0 var(--accent-color), 0 0.5rem 1rem rgba(0,0,0,0.3);
  }
  90% {
    opacity: 1;
    transform: translateX(100%);
    box-shadow: -320px 0 0 var(--accent-color);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  [role="region"] > header:first-child form > p input + button[type="reset"] {
    background-image: url(/shared/style/input_areas/images/clear_dark.png);
  }
}

@media screen and (min-width: 480px) {
  /*
   * Modifications
   */
  [role="region"] > header:first-child .home-link {
    font-size: 3.2rem !important;
    padding-left: 5rem;
    background-size: contain;
    background-position: left 1rem center !important;
  }
}

@media screen and (max-width: 768px) {
  [role="region"] > header:first-child form:focus-within ~ * {
    visibility: hidden !important;
    opacity: 0 !important;
  }
  html[dir="ltr"] [role="region"] > header:first-child form:focus-within ~ * {
    transform: translateX(-32px) !important;
  }
  html[dir="rtl"] [role="region"] > header:first-child form:focus-within ~ * {
    transform: translateX(32px) !important;
  }
}
