html,
body {
  cursor: url(cursor.png) 0 0, default;
}

input,
textarea {
  cursor: url(text.png) 6 13, text;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="date"],
input[type="time"] {
  cursor: url(pointer.png) 8 0, pointer;
}

/* System */
.appWindow > .titlebar-grippy,
.appWindow > .resize-bottomright {
  cursor: url(move.png) 13 13, move;
}

.appWindow > .resize-right {
  cursor: url(move-x.png) 13 13, col-resize;
}

.appWindow > .resize-bottom {
  cursor: url(move-y.png) 13 13, row-resize;
}

.busy,
.busy * {
  cursor: url(busy.png) 13 13, progress;
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */


.dark-mode-enabled {
  cursor: url(light/cursor.png) 0 0, default;
}

.dark-mode-enabled input,
.dark-mode-enabled textarea {
  cursor: url(light/text.png) 6 13, text;
}

.dark-mode-enabled a,
.dark-mode-enabled button,
.dark-mode-enabled input[type="button"],
.dark-mode-enabled input[type="reset"],
.dark-mode-enabled input[type="submit"],
.dark-mode-enabled input[type="date"],
.dark-mode-enabled input[type="time"] {
  cursor: url(light/pointer.png) 8 0, pointer;
}

/* System */
.dark-mode-enabled .appWindow > .titlebar-grippy,
.dark-mode-enabled .appWindow > .resize-bottomright {
  cursor: url(light/move.png) 13 13, move;
}

.dark-mode-enabled .appWindow > .resize-right {
  cursor: url(light/move-x.png) 13 13, col-resize;
}

.dark-mode-enabled .appWindow > .resize-bottom {
  cursor: url(light/move-y.png) 13 13, row-resize;
}

.dark-mode-enabled .busy,
.dark-mode-enabled .busy * {
  cursor: url(light/busy.png) 13 13, progress;
}
