/* ----------------------------------
 * Action menu
 * ---------------------------------- */

html[dir="ltr"] [role="dialog"][data-type="action"] [dir],
html[dir="ltr"] [role="dialog"][data-type="action"] button {
  text-align: left;
}
html[dir="rtl"] [role="dialog"][data-type="action"] [dir],
html[dir="rtl"] [role="dialog"][data-type="action"] button {
  text-align: right;
}

/* Main dialog setup */
[role="dialog"][data-type="action"] {
  background: #fff;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 4.5rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0 0 7rem;
  /**
   * Using "font-size: 0" to avoid the unwanted visual space (about 3px) created
   * by white spaces and line breaks in the code between inline-block elements.
   */
  font-size: 0;
  color: #333;
  border-radius: 1.2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1),
                0 0 0 calc(100vw + 100vh) rgba(64,64,64,0.3);
}

[role="dialog"][data-type="action"]:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 0.1rem;
  height: 100%;
  margin-inline-start: -0.1rem;
}

[role="dialog"][data-type="action"] > header {
  box-sizing: border-box;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 5rem;
  line-height: 4.9rem;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  font-weight: normal;
  padding: 0 3rem;
  border-bottom: 0.1rem solid #e7e9ec;
  background: #e0e2e5;
}
[role="dialog"][data-type="action"] > header * {
  overflow: hidden;
  text-overflow: ellipsis;
}

[role="dialog"][data-type="action"] > header h1 {
  font-size: 1.6rem;
  line-height: 4.9rem;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-weight: normal;
}

/* Generic set of actions in toolbar */
[role="dialog"][data-type="action"] > header menu[type="toolbar"] {
  height: 100%;
  margin: 0 -3rem;
  margin-inline-start: 1rem;
  padding: 0;
}
html[dir="ltr"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] { float: right; }
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] { float: left; }

[role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  box-sizing: border-box;
  position: relative;
  width: auto;
  min-width: 4rem;
  height: 4rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0.4rem;
  line-height: 4rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  margin: 0.5rem;
  margin-inline-start: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}
html[dir="ltr"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
html[dir="ltr"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  float: left;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  float: right;
}

[role="dialog"][data-type="action"] > header a,
[role="dialog"][data-type="action"] > header button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #333;
  border-radius: 0;
  text-decoration: none;
  transition: background-color 0.2s;
}

[role="dialog"][data-type="action"] button::-moz-focus-inner {
  outline: none;
  border: none;
}

/* Hovered state */
[role="dialog"][data-type="action"] > header a:hover .icon:after,
[role="dialog"][data-type="action"] > header button:hover .icon:after,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a:hover,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button:hover  {
  background: rgba(0,0,0,0.05) !important;
  transition: none;
}

/* Pressed state */
[role="dialog"][data-type="action"] > header a:active .icon:after,
[role="dialog"][data-type="action"] > header button:active .icon:after,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a:active,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button:active  {
  background: rgba(0,0,0,0.1) !important;
  transition: none;
}

/* Disabled state */
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a[aria-disabled="true"],
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
  pointer-events: none;
}

/* Icon definitions */
[role="dialog"][data-type="action"] > header .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4.9rem;
  background: transparent no-repeat center center / 2rem auto;
  font-size: 0;
  overflow: hidden;
}
html[dir="ltr"] [role="dialog"][data-type="action"] > header .icon {
  margin: 0 0 0 -1.5rem;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header .icon {
  margin: 0 -1.5rem 0 0;
}

[role="dialog"][data-type="action"] > header .icon.icon-close {
  background-image: url(action_menu/images/icons/close.png);
}

html[dir="ltr"] [role="dialog"][data-type="action"] > header .icon.icon-back {
  background-image: url(action_menu/images/icons/left.png);
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header .icon.icon-back {
  background-image: url(action_menu/images/icons/right.png);
}

/* Navigation links (back, cancel, etc) */
[role="dialog"][data-type="action"] > header > button,
[role="dialog"][data-type="action"] > header > a {
  width: 4rem;
  height: 4rem;
  background: none;
  overflow: visible;
  margin: 0.5rem;
  margin-inline-start: -2.5rem;
  margin-inline-end: 1rem;
  position: relative;
}
html[dir="ltr"] [role="dialog"][data-type="action"] > header > button,
html[dir="ltr"] [role="dialog"][data-type="action"] > header > a {
  float: left;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header > button,
html[dir="rtl"] [role="dialog"][data-type="action"] > header > a {
  float: right;
}

[role="dialog"][data-type="action"] > header > button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[role="dialog"][data-type="action"] > header > button .icon,
[role="dialog"][data-type="action"] > header > a .icon {
  position: static;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 !important;
  overflow: visible;
  font-size: 0;
}

[role="dialog"][data-type="action"] > header > button .icon:after,
[role="dialog"][data-type="action"] > header > a .icon:after {
  content: "";
  position: absolute;
  offset-inline-start: 0;
  top: 0;
  z-index: -1;
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  transition: background-color 0.2s;
}

/* Content */
[role="dialog"][data-type="action"] > section {
  color: #333;
  position: absolute;
  top: 5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 2rem;
  font-size: 1.6rem;
  overflow: scroll;
}

/* Specific component code */
[role="dialog"][data-type="action"] > menu {
  margin: 0;
  padding: 0;
  max-height: calc(100% - 13.5rem); /*header(5rem) + footer(7rem) + padding(1.5rem)*/
  height: auto;
  padding-top: 1.5rem;
  overflow: auto;
  width: auto;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
}

[role="dialog"][data-type="action"] > menu > button {
  width: calc(100% - 3rem);
  height: 4rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  line-height: 4rem;
  outline: none;
  font-size: 1.6rem;
  text-shadow: none;
  padding: 0 1.2rem;
  margin: 0 1.5rem 1rem;
  background: #e0e2e5;
  border: none;
  border-radius: 0.4rem;
  position: relative;
  color: #333;
  font-family: sans-serif;
  font-style: normal;
}

[role="dialog"][data-type="action"] > menu > .last-button-container {
  position: fixed;
  width: 100%;
  background-color: #e0e2e5;
  height: 7rem;
  offset-inline-start: 0;
  bottom: 0;
  border-radius: 0 0 1.2rem 1.2rem;
}

[role="dialog"][data-type="action"] > menu > .last-button-container button {
  width: calc(100% - 3rem);
  position: fixed;
  bottom: 0;
  margin: 0 1.5rem 1.5rem;
  offset-inline-start: 0;
  color: #333;
  background: #fff;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  height: 4rem;
  font-family: sans-serif;
  font-style: normal;
}

[role="dialog"][data-type="action"] > menu > button:nth-last-child(2) {
  margin-bottom: 1.5rem;
}

/* Hover state */
[role="dialog"][data-type="action"] > menu button:hover {
  background: #d0d2d5;
}

/* Focus state */
[role="dialog"][data-type="action"] > menu button:focus-visible {
  outline: 0.4rem solid rgba(0, 97, 224, 0.5);
}

/* Press state */
[role="dialog"][data-type="action"] > menu button:active {
  background: #c0c2c5;
}

/* Disabled */
[role="dialog"][data-type="action"] > menu > button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

[role="dialog"][data-type="action"] > menu > .last-button-container button[disabled] {
  background-color: #e7e7e7;
  color: #a6a6a6;
  opacity: 1;
}

@supports (backdrop-filter: blur(32px)) {
  [role="dialog"][data-type="action"] {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(32px);
  }

  [role="dialog"][data-type="action"] > header {
    border-bottom-color: rgba(0,0,0,0.0625);
  }

  /* Menu & buttons setup */
  [role="dialog"][data-type="action"] menu > .last-button-container button:before {
    background-color: rgba(0,0,0,0.125);
  }
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  /* Main dialog setup */
  [role="dialog"][data-type="action"] {
    top: 4.5rem;
    left: calc(50% - 20rem);
    right: calc(50% - 20rem);
    bottom: 4.5rem;
  }

  [role="dialog"][data-type="action"] > menu > .last-button-container {
    width: 40rem;
    bottom: 0;
    left: calc(50% - 20rem);
  }

  [role="dialog"][data-type="action"] > menu > .last-button-container button {
    width: 37rem;
    bottom: 0;
    left: calc(50% - 20rem);
  }

  .dark-mode-enabled [role="dialog"][data-type="action"] {
    background-color: rgba(48, 48, 56, 0.75);
  }

  .dark-mode-enabled [role="dialog"][data-type="action"] > header {
    border-bottom: 0.1rem solid rgba(255,255,255,0.0625);
  }

  /* Menu & buttons setup */
  .dark-mode-enabled [role="dialog"][data-type="action"] menu > .last-button-container {
    background: rgba(255,255,255,0.125);
  }
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

/* Main dialog setup */
.dark-mode-enabled [role="dialog"][data-type="action"] {
  background-color: #303438;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1),
              0 0 0 calc(100vw + 100vh) rgba(16,16,16,0.3);
}

.dark-mode-enabled [role="dialog"][data-type="action"] > header {
  color: #fff;
  border-bottom-color: #282c30;
  background-color: #404448;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > header h1 {
  color: #fff;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > header a,
.dark-mode-enabled [role="dialog"][data-type="action"] > header button {
  color: #fff;
}

/* Hovered state */
.dark-mode-enabled [role="dialog"][data-type="action"] > header a:hover .icon:after,
.dark-mode-enabled [role="dialog"][data-type="action"] > header button:hover .icon:after,
.dark-mode-enabled [role="dialog"][data-type="action"] > header menu[type="toolbar"] a:hover,
.dark-mode-enabled [role="dialog"][data-type="action"] > header menu[type="toolbar"] button:hover  {
  background: rgba(255,255,255,0.05) !important;
}

/* Pressed state */
.dark-mode-enabled [role="dialog"][data-type="action"] > header a:active .icon:after,
.dark-mode-enabled [role="dialog"][data-type="action"] > header button:active .icon:after,
.dark-mode-enabled [role="dialog"][data-type="action"] > header menu[type="toolbar"] a:active,
.dark-mode-enabled [role="dialog"][data-type="action"] > header menu[type="toolbar"] button:active  {
  background: rgba(0,0,0,0.15) !important;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > header .icon.icon-close {
  background-image: url(action_menu/images/icons/dark/close.png);
}

html[dir="ltr"] .dark-mode-enabled [role="dialog"][data-type="action"] > header .icon.icon-back {
  background-image: url(action_menu/images/icons/dark/left.png);
}
html[dir="rtl"] .dark-mode-enabled [role="dialog"][data-type="action"] > header .icon.icon-back {
  background-image: url(action_menu/images/icons/dark/right.png);
}

/* Content */
.dark-mode-enabled [role="dialog"][data-type="action"] > section {
  color: #fff;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > menu > button {
  background-color: #404448;
  color: #fff;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > menu > .last-button-container {
  background-color: #404448;
}

.dark-mode-enabled [role="dialog"][data-type="action"] > menu > .last-button-container button {
  background-color: #303438;
  color: #fff;
}

/* Hover state */
.dark-mode-enabled [role="dialog"][data-type="action"] > menu button:hover {
  background-color: #202428;
}

/* Focus state */
.dark-mode-enabled [role="dialog"][data-type="action"] > menu button:focus-visible {
  outline: 0.4rem solid rgba(0, 221, 255, 0.5);
}

/* Press state */
.dark-mode-enabled [role="dialog"][data-type="action"] > menu button:active {
  background-color: #101418;
}
