/* ----------------------------------
 * Buttons
 * ---------------------------------- */

.button::-moz-focus-inner,
.bb-button::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
  outline: none;
}

button,
.bb-button,
.button {
  font-family: sans-serif;
  font-style: normal;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #e0e2e5;
  border: none;
  border-radius: 0.4rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
}
html[dir="ltr"] button,
html[dir="ltr"] .bb-button,
html[dir="ltr"] .button {
  text-align: left;
}
html[dir="rtl"] button,
html[dir="rtl"] .bb-button,
html[dir="rtl"] .button {
  text-align: right;
}

/* Recommend */
button.recommend,
.bb-button.recommend {
  background-color: var(--accent-color, #0061e0);
  color: #fff;
}

button.recommend:hover,
.bb-button.recommend:hover {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

button.recommend:active,
.bb-button.recommend:active {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Danger */
button.danger,
.danger.bb-button {
  background-color: #c00040;
  color: #fff;
}

button.danger:hover,
.danger.bb-button:hover {
  background-color: #b00030;
}

button.danger:active,
.danger.bb-button:active {
  background-color: #a00020;
}

/* Pressed */
button:hover,
.bb-button:hover,
.button:hover {
  background-color: #d0d2d5;
}

/* Focused */
button:focus-visible,
.bb-button:focus-visible,
.button:focus-visible {
  outline: 0.4rem solid rgba(0, 97, 224, 0.5);
}

/* Pressed */
button:active,
.bb-button:active,
.button:active {
  background-color: #c0c2c5;
}

/* Icons */
button[data-icon],
.bb-button[data-icon],
.button[data-icon] {
  position: relative;
}

html[dir="ltr"] button[data-icon]:not([data-icon="expand"]),
html[dir="ltr"] .bb-button[data-icon]:not([data-icon="expand"]),
html[dir="ltr"] .button[data-icon]:not([data-icon="expand"]) {
  padding-left: 4rem;
}
html[dir="rtl"] button[data-icon]:not([data-icon="expand"]),
html[dir="rtl"] .bb-button[data-icon]:not([data-icon="expand"]),
html[dir="rtl"] .button[data-icon]:not([data-icon="expand"]) {
  padding-right: 4rem;
}

button[data-icon]:before,
.bb-button[data-icon]:before,
.button[data-icon]:before {
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  offset-inline-start: 0.5rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  width: 3rem;
}

/* Pressed with dark skin */
.skin-dark button:active,
.skin-dark .bb-button:active,
.skin-dark .button:active {
  background-color: #00aacc;
}

/* Disabled */
button[disabled],
.bb-button[aria-disabled="true"],
.button[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

/* ----------------------------------
 * Buttons inside lists
 * ---------------------------------- */

li button,
li .bb-button,
li .button {
  position: relative;
  /* border: 0.1rem solid #9e9ea0; */
  margin: 0 0 1rem;
  overflow: hidden;
  border-radius: 0.4rem;
  display: flex;
  height: auto;
  min-height: 4rem;
  text-overflow: initial;
  white-space: normal;
  line-height: 2rem;
  padding: 1rem 1.2rem;
}
html[dir="ltr"] li button,
html[dir="ltr"] li .bb-button,
html[dir="ltr"] li .button {
  text-align: left;
}
html[dir="rtl"] li button,
html[dir="rtl"] li .bb-button,
html[dir="rtl"] li .button {
  text-align: right;
}

/* Press */
li .bb-button:active:after,
li .button:active:after,
li button:active:after {
  opacity: 0;
}

/* Disabled */
li button:disabled,
li .bb-button[aria-disabled="true"],
li .button[aria-disabled="true"] {
  opacity: 0.5;
}

/* Icons */
li button.icon,
li .bb-button.icon,
li .button.icon {
  padding-inline-end: 4rem;
}

li button.icon:before,
li .bb-button.icon:before,
li .button.icon:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  offset-inline-end: 0.5rem;
  margin-top: -1.5rem;
  background: transparent no-repeat center center / 100% auto;
  pointer-events: none;
}

li button[data-icon]:before,
li .bb-button[data-icon]:before,
li .button[data-icon]:before {
  offset-inline-start: 0.5rem;
}

li button.icon-view:active,
li .bb-button.icon-view:active,
li .button.icon-view:active {
  background-color: var(--accent-color, #0061e0);
}

li button[data-icon="expand"]:before,
li .bb-button[data-icon="expand"]:before,
li .button[data-icon="expand"]:before {
  color: var(--accent-color, #0061e0);
  top: unset;
  bottom: -0.4rem;
}
html[dir="ltr"] li button[data-icon="expand"]:before,
html[dir="ltr"] li .bb-button[data-icon="expand"]:before,
html[dir="ltr"] li .button[data-icon="expand"]:before {
  right: -0.4rem;
  left: unset;
}
html[dir="rtl"] li button[data-icon="expand"]:before,
html[dir="rtl"] li .bb-button[data-icon="expand"]:before,
html[dir="rtl"] li .button[data-icon="expand"]:before {
  left: -0.4rem;
  right: unset;
}

/* Getting more space for text, as icon is shorter */
li button.icon-dialog,
li .bb-button.icon-dialog,
li .button.icon-dialog {
  padding-inline-end: 3rem;
}

li button.icon-dialog:before,
li .bb-button.icon-dialog:before,
li .button.icon-dialog:before {
  width: 0;
  height: 0;
  top: auto;
  offset-inline-end: 0.4rem;
  bottom: 0.1rem;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 0.7rem solid var(--accent-color, #0061e0);
  z-index: 1;
}
html[dir="ltr"] li button.icon-dialog:before,
html[dir="ltr"] li .bb-button.icon-dialog:before,
html[dir="ltr"] li .button.icon-dialog:before {
  transform: rotate(45deg);
}
html[dir="rtl"] li button.icon-dialog:before,
html[dir="rtl"] li .bb-button.icon-dialog:before,
html[dir="rtl"] li .button.icon-dialog:before {
  transform: rotate(-45deg);
}

li button.icon-dialog:disabled:before,
li .bb-button[aria-disabled="true"].icon-dialog:before,
li .button[aria-disabled="true"].icon-dialog:before {
  border-inline-start: 0.7rem solid #a9a9a9;
}

/* ----------------------------------
 * Theme: Dark
 * ---------------------------------- */

.skin-dark li button,
.skin-dark li .bb-button,
.skin-dark li .button {
  background-color: #454545;
  border: none;
  color: #fff;
  font-weight: normal;
}

.skin-dark li button:active,
.skin-dark li .button:active,
.skin-dark li .bb-button:active {
  background-color: #00aacc;
}

.skin-dark li button.icon-view:active,
.skin-dark li .button.icon-view:active,
.skin-dark li .bb-button.icon-view:active {
  background-color: #00aacc;
}

.skin-dark li button.icon-dialog:active:before,
.skin-dark li .bb-button.icon-dialog:active:before,
.skin-dark li .button.icon-dialog:active:before {
  border-inline-start: 0.7rem solid #b2f2ff;
}

.skin-dark li button:disabled,
.skin-dark li .bb-button[aria-disabled="true"],
.skin-dark li .button[aria-disabled="true"] {
  background-color: #454545;
  opacity: 0.5;
}

/* Inputs inside of .button */
.button input,
body[role="application"] .bb-button input,
body[role="application"] .button input {
  border: 0;
  background: none;
}

/* select */
select {
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  color: #333;
  margin: 0 0 1rem;
  padding: 0;
  padding-inline-start: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 4rem;
  border: none; 
  background: #e0e2e5;
  border-radius: 0.4rem;
}

.skin-dark select {
  background-color: rgba(87, 87, 87, 0.8);
  border: none;
  color: #fff;
}

/* remove dotted outline */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333;
}

.skin-dark select:-moz-focusring {
  text-shadow: 0 0 0 #fff;
}

/* Hides dropdown arrow until bug #649849 is fixed */
.bb-button.icon select,
.button.icon select,
.bb-button[data-icon] select,
.button[data-icon] select {
  position: absolute;
  top: -0.6rem;
  offset-inline-start: 0;
  width: calc(100% + 3rem);
  height: 100%;
  margin: 0;
  padding: 0;
  padding-inline-end: 5rem;
  text-indent: 0;
  font-weight: 400;
  font-size: 1.7rem;
  color: rgba(0,0,0,0);
  border: none;
  background: none;
}
/**
 * The select element uses the text color to determine the color of the outline.
 * We put a text shadow with needed offset and no blur, so that replaces the text.
 */
html[dir="ltr"] .bb-button.icon select,
html[dir="ltr"] .button.icon select,
html[dir="ltr"] .bb-button[data-icon] select,
html[dir="ltr"] .button[data-icon] select,
html[dir="ltr"] .bb-button.icon-dialog select,
html[dir="ltr"] .button.icon-dialog select {
  text-shadow: 1rem 0.5rem 0 #333;
}
html[dir="rtl"] .bb-button.icon select,
html[dir="rtl"] .button.icon select,
html[dir="rtl"] .bb-button[data-icon] select,
html[dir="rtl"] .button[data-icon] select,
html[dir="rtl"] .bb-button.icon-dialog select,
html[dir="rtl"] .button.icon-dialog select {
  text-shadow: -1rem 0.5rem 0 #333;
}

.bb-button.icon select option,
.button.icon select option,
.bb-button[data-icon] select option,
.button[data-icon] select option {
  color: #000;
  border: 0;
  padding: 0.6rem 1.3rem;
  text-shadow: 0 0 0 rgba(0,0,0,0);
}

.bb-button.icon-dialog,
.button.icon-dialog {
  overflow: hidden;
}

html[dir="ltr"] .skin-dark .bb-button.icon select,
html[dir="ltr"] .skin-dark .button.icon select,
html[dir="ltr"] .skin-dark .bb-button[data-icon] select,
html[dir="ltr"] .skin-dark .button[data-icon] select,
html[dir="ltr"] .skin-dark .bb-button.icon-dialog select,
html[dir="ltr"] .skin-dark .button.icon-dialog select {
  text-shadow: 1rem 0.5rem 0 #fff;
}
html[dir="rtl"] .skin-dark .bb-button.icon select,
html[dir="rtl"] .skin-dark .button.icon select,
html[dir="rtl"] .skin-dark .bb-button[data-icon] select,
html[dir="rtl"] .skin-dark .button[data-icon] select,
html[dir="rtl"] .skin-dark .bb-button.icon-dialog select,
html[dir="rtl"] .skin-dark .button.icon-dialog select {
  text-shadow: -1rem 0.5rem 0 #fff;
}

.dark-mode-enabled button,
.dark-mode-enabled .bb-button,
.dark-mode-enabled .button {
  background-color: #404448;
  color: #fff;
}

/* Recommend */
.dark-mode-enabled button.recommend,
.dark-mode-enabled .bb-button.recommend {
  background-color: var(--accent-color, #00ddff);
  color: #000;
}

.dark-mode-enabled button.recommend:hover,
.dark-mode-enabled .bb-button.recommend:hover {
  background: var(--accent-color, #00ddff) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

.dark-mode-enabled button.recommend:active,
.dark-mode-enabled .bb-button.recommend:active {
  background: var(--accent-color, #00ddff) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Pressed */
.dark-mode-enabled button:hover,
.dark-mode-enabled .bb-button:hover,
.dark-mode-enabled .button:hover {
  background-color: #202428;
}

/* Focused */
.dark-mode-enabled button:focus-visible,
.dark-mode-enabled .bb-button:focus-visible,
.dark-mode-enabled .button:focus-visible {
  outline: 0.4rem solid rgba(0, 221, 255, 0.5);
}

/* Pressed */
.dark-mode-enabled button:active,
.dark-mode-enabled .bb-button:active,
.dark-mode-enabled .button:active {
  background-color: #101418;
}

/* ----------------------------------
* Buttons inside lists
* ---------------------------------- */

.dark-mode-enabled li button,
.dark-mode-enabled li .bb-button,
.dark-mode-enabled li .button {
  border-color: #7c7b82;
}

.dark-mode-enabled li button[data-icon="expand"]:before,
.dark-mode-enabled li .bb-button[data-icon="expand"]:before,
.dark-mode-enabled li .button[data-icon="expand"]:before {
  color: var(--accent-color, #00ddff);
}

.dark-mode-enabled li button[data-icon="expand"][disabled]:before,
.dark-mode-enabled li .bb-button[data-icon="expand"][aria-disabled="true"]:before,
.dark-mode-enabled li .button[data-icon="expand"][aria-disabled="true"]:before {
  color: #7a7a7a;
}

.dark-mode-enabled li button[data-icon="forward"]:before,
.dark-mode-enabled li .bb-button[data-icon="forward"]:before,
.dark-mode-enabled li .button[data-icon="forward"]:before {
  color: #d8d8d8;
}

.dark-mode-enabled li button.icon-dialog:before,
.dark-mode-enabled li .bb-button.icon-dialog:before,
.dark-mode-enabled li .button.icon-dialog:before {
  border-left-color: var(--accent-color, #00ddff);
}

/* select */
.dark-mode-enabled select {
  color: #fff;
  border-color: #7c7b82;
  background: #404448;
}

/* Hides dropdown arrow until bug #649849 is fixed */
html[dir="ltr"] .dark-mode-enabled .bb-button.icon select,
html[dir="ltr"] .dark-mode-enabled .button.icon select,
html[dir="ltr"] .dark-mode-enabled .bb-button[data-icon] select,
html[dir="ltr"] .dark-mode-enabled .button[data-icon] select {
  text-shadow: 1rem 0.5rem 0 #fff;
}
html[dir="rtl"] .dark-mode-enabled .bb-button.icon select,
html[dir="rtl"] .dark-mode-enabled .button.icon select,
html[dir="rtl"] .dark-mode-enabled .bb-button[data-icon] select,
html[dir="rtl"] .dark-mode-enabled .button[data-icon] select {
  text-shadow: -1rem 0.5rem 0 #fff;
}
