/* ----------------------------------
* Drawer
* ---------------------------------- */

/* Main region */
section[role="region"] {
  width: 100%;
  transition: all 0.375s cubic-bezier(0.2, 0.9, 0.1, 1);
  position: relative;
  z-index: 100;
  background: #fff;
  overflow: hidden;
}

section[role="region"]:target {
  transform: translateX(80%);
  border-radius: 0.8rem 0 0 0.8rem;
}

section[role="region"]:target > header:first-child {
  padding: 0;
}

/* Hide anchor to change target */
section[role="region"] > header:first-child > a:first-of-type {
  display: none;
}
section[role="region"]:target > header:first-child > a:first-of-type {
  display: block;
}
section[role="region"] > header:first-child > a:last-of-type {
  display: block;
}
section[role="region"]:target > header:first-child > a:last-of-type {
  display: none;
}

section[role="region"] > div[role="main"] {
  height: calc(100% - 5rem);
  overflow-x: hidden;
  overflow-y: scroll;
}


/* Sidebar */
section[data-type="sidebar"] {
  position: absolute;
  width: 80%;
  background: #e0e2e5;
  height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
  font-family: sans-serif;
}

/* Sidebar header */
section[data-type="sidebar"] > header {
  position: relative;
  z-index: 10;
  height: 5rem;
  color: #333;
}

section[data-type="sidebar"] > header h1 {
  font-size: 2.2rem;
  line-height: 4.8rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  height: 100%;
  font-weight: normal;
}

section[data-type="sidebar"] > header h1 em {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.4rem;
  min-width: 2.4rem;
  padding: 0 0.4rem;
  background: var(--accent-color, #0061e0);
  border-radius: 1.2rem;
  font-weight: bold;
  font-style: normal;
  box-sizing: border-box;
  color: #fff;
  transform: translateY(-0.2rem);
  display: inline-block;
  margin: 0 0.5rem;
  text-align: center;
}

/* Generic set of actions in toolbar */
section[data-type="sidebar"] > header menu[type="toolbar"] {
  height: 100%;
  float: right;
}

section[data-type="sidebar"] > header menu[type="toolbar"] a,
section[data-type="sidebar"] > header menu[type="toolbar"] button {
  height: 4.9rem;
  line-height: 4.9rem;
  float: left;
  background: none;
  padding: 0 1.75rem;
  -moz-box-sizing: border-box;
  min-width: 5rem;
  text-align: center;
}

section[data-type="sidebar"] > header menu[type="toolbar"] a:last-child,
section[data-type="sidebar"] > header menu[type="toolbar"] button:last-child {
  background: url(drawer/images/ui/separator.png) no-repeat left center / auto 3.1rem;
}

section[data-type="sidebar"] > header menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}

section[data-type="sidebar"] > header a,
section[data-type="sidebar"] > header button {
  border: none;
  background: none;
  padding: 0;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.1em;
  color: #333;
}

section[data-type="sidebar"] > header a:first-letter,
section[data-type="sidebar"] > header button:first-letter {
  text-transform: uppercase;
}

/* Icon definitions */
section[data-type="sidebar"] > header .icon {
  display: inline-block;
  width: 3rem;
  height: 4.9rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 100% auto;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

section[data-type="sidebar"]:before {
  content: "";
  width: 1rem;
  background: #c0c2c5;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}
html[dir="ltr"] section[data-type="sidebar"]:before {
  right: -1rem;
}
html[dir="rtl"] section[data-type="sidebar"]:before {
  left: -1rem;
}

section[data-type="sidebar"]:after {
  content: "";
  width: 1rem;
  background: linear-gradient(to right, transparent, rgba(0,0,0,0.15));
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

section[data-type="sidebar"] > nav {
  overflow-y: auto;
  max-height: 100%;
}

section[data-type="sidebar"] > nav > h2 {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3.3rem;
  text-indent: 3rem;
  color: #4d4d4d;
  background: #d0d0d0;
  margin: 0;
  padding-right: 0.8rem;
  text-transform: uppercase;
}

section[data-type="sidebar"] [role="toolbar"] {
  position: absolute;
}

section[data-type="sidebar"] > nav > ul {
  width: 100%;
  margin: 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

section[data-type="sidebar"] > nav > ul > li {
  color: #333;
  list-style: none;
  border-radius: 0.4rem;
  transition: background-color 0.2s;
}

section[data-type="sidebar"] > nav > ul > li:hover {
  background: rgba(0,0,0,0.05);
  transition: none;
}

section[data-type="sidebar"] > nav > ul > li:active {
  background: rgba(0,0,0,0.1);
  transition: none;
}

section[data-type="sidebar"] > nav > ul > li > a {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  line-height: 4.35rem;
  text-indent: 3rem;
  padding-right: 0.8rem;
  width: 100%;
  -moz-box-sizing: border-box;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* RTL View */

html[dir="rtl"] section[role="region"]:target {
  transform: translateX(-80%);
}

/* Sidebar */
html[dir="rtl"] section[data-type="sidebar"] {
  left: auto;
  right: 0;
}

/* Sidebar header */
html[dir="rtl"] section[data-type="sidebar"] > header {
  background-position: right bottom;
}

html[dir="rtl"] section[data-type="sidebar"] > header:after {
  background-position: right top;
}

html[dir="rtl"] section[data-type="sidebar"] > header h1 {
  text-align: right;
  margin: 0 3rem 0 0;
}

/* Generic set of actions in toolbar */
html[dir="rtl"] section[data-type="sidebar"] > header menu[type="toolbar"] {
  float: left;
}

html[dir="rtl"] section[data-type="sidebar"] > header menu[type="toolbar"] a,
html[dir="rtl"] section[data-type="sidebar"] > header menu[type="toolbar"] button {
  float: left;
}

html[dir="rtl"] section[data-type="sidebar"] > header menu[type="toolbar"] a:last-child,
html[dir="rtl"] section[data-type="sidebar"] > header menu[type="toolbar"] button:last-child {
  background-position: right center;
}

html[dir="rtl"] section[data-type="sidebar"]:after {
  background-image: url(drawer/images/ui/shadow_rtl.png);
  background-position: left top;
  left: 0;
  right: auto;
}
html[dir="rtl"] section[data-type="sidebar"] > nav > h2 {
  background-position: right top;
  padding-left: 0.8rem;
  padding-right: unset;
}

@media screen and (min-width: 600px) {
  section[role="region"]:target {
    transform: translateX(256px);
    width: calc(100% - 256px);
  }

  section[data-type="sidebar"] {
    width: 256px;
  }
}

@media screen and (min-width: 768px) {
  section[role="region"]:target {
    transform: translateX(320px);
    width: calc(100% - 320px);
  }

  section[data-type="sidebar"] {
    width: 320px;
  }
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

/* Main region */
.dark-mode-enabled section[role="region"] {
  background-color: #303438;
}


/* Sidebar */
.dark-mode-enabled section[data-type="sidebar"] {
  background-color: #202428;
}

/* Sidebar header */
.dark-mode-enabled section[data-type="sidebar"] > header {
  color: #fff;
}

.dark-mode-enabled section[data-type="sidebar"] > header h1 em {
  background-color: var(--accent-color, #00ddff);
  color: #000;
}

.dark-mode-enabled section[data-type="sidebar"] > header a,
.dark-mode-enabled section[data-type="sidebar"] > header button {
  color: #fff;
}

.dark-mode-enabled section[data-type="sidebar"]:before {
  background-color: #1c2024;
}

.dark-mode-enabled section[data-type="sidebar"] > nav > h2 {
  color: #c5c5c5;
  background-color: #282c30;
}

.dark-mode-enabled section[data-type="sidebar"] > nav > ul > li {
  color: #fff;
}

.dark-mode-enabled section[data-type="sidebar"] > nav > ul > li:hover {
  background-color: rgba(255,255,255,0.05);
}

.dark-mode-enabled section[data-type="sidebar"] > nav > ul > li:active {
  background-color: rgba(0,0,0,0.15);
}

.dark-mode-enabled section[data-type="sidebar"] > nav > ul > li > a {
  color: #fff;
}
