/* ----------------------------------
 * Edit mode
 * ---------------------------------- */

[role="dialog"][data-type="edit"] {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: visibility var(--transition-duration);
}

/* Header */
[role="dialog"][data-type="edit"] [role="region"] > gaia-header {
  background-color: #f4f4f4;
  transition: transform var(--transition-duration) ease;
  pointer-events: auto;
}

[role="dialog"][data-type="edit"] [role="region"] > gaia-header h1 {
  color: #4d4d4d;
}

[role="dialog"][data-type="edit"] [role="region"] > gaia-header button {
  color: var(--accent-color, #0061e0);
}

/* Menu */
[role="dialog"][data-type="edit"] > menu {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  border-top: solid 0.1rem #e7e9ec;
  background: #e0e2e5;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  transition: transform var(--transition-duration) ease;
  pointer-events: auto;
}

[role="dialog"][data-type="edit"] > menu button {
  font-family: sans-serif;
  font-style: normal;
  height: 4rem;
  margin: 0;
  -moz-margin-start: 1rem;
  padding: 0 0.2rem;
  -moz-box-sizing: border-box;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  border: none;
  border-radius: 0.4rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
  flex: 1;
}

/* Hover (default only) */
[role="dialog"][data-type="edit"] > menu button:not(:disabled):hover {
  background: #d0d2d5;
}

[role="dialog"][data-type="edit"] > menu button:not(:disabled):focus-visible {
  outline: 0.4rem solid rgba(0, 97, 224, 0.5);
}

/* Press (default only) */
[role="dialog"][data-type="edit"] > menu button:not(:disabled):active {
  background: #c0c2c5;
}

/* Recommend */
[role="dialog"][data-type="edit"] > menu button.recommend {
  background-color: var(--accent-color, #0061e0);
  color: #fff;
}

[role="dialog"][data-type="edit"] > menu button.recommend:not(:disabled):hover {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

[role="dialog"][data-type="edit"] > menu button.recommend:not(:disabled):active {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Danger */
[role="dialog"][data-type="edit"] > menu button.danger {
  background-color: #c00040;
  color: #fff;
}

[role="dialog"][data-type="edit"] > menu button.danger:not(:disabled):hover {
  background: #d5e0e0;
}

[role="dialog"][data-type="edit"] > menu button.danger:not(:disabled):active {
  background: #a00020;
}

/* Danger Press */
[role="dialog"][data-type="edit"] > menu button.danger:active {
  background-color: #b2f2ff;
}

/* Disabled */
/* Using pointer-events: none, makes events go through the button. As edit mode is an overlay is quite possible we have active buttons underneath */
[role="dialog"][data-type="edit"] button[disabled] {
  pointer-events: auto;
}

[role="dialog"][data-type="edit"] > menu button[disabled] {
  opacity: 0.6;
}

[role="dialog"][data-type="edit"] button[disabled]::-moz-selection {
  -moz-user-select: none;
}

/* Danger disabled */
[role="dialog"][data-type="edit"] > menu button[disabled].danger {
  background-color: #e51e1e;
  color: #fff;
}

[role="dialog"][data-type="edit"] > menu button:first-child {
  -moz-margin-start: 0;
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

/* Header */
.dark-mode-enabled [role="dialog"][data-type="edit"] [role="region"] > gaia-header {
  background-color: #383c40;
}

.dark-mode-enabled [role="dialog"][data-type="edit"] [role="region"] > gaia-header h1 {
  color: #e7e7e7;
}

.dark-mode-enabled [role="dialog"][data-type="edit"] [role="region"] > gaia-header button {
  color: var(--accent-color, #00ddff);
}

/* Menu */
.dark-mode-enabled [role="dialog"][data-type="edit"] > menu {
  background-color: #404448;
}

.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button {
  background-color: #303438;
  color: #fff;
}

/* Hover (default only) */
.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button:not(:disabled):hover {
  background: #202428;
}

.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button:not(:disabled):focus-visible {
  outline: 0.4rem solid rgba(0, 221, 255, 0.5);
}

/* Press (default only) */
.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button:not(:disabled):active {
  background: #101418;
}

/* Recommend */
.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button.recommend {
  background-color: var(--accent-color, #00ddff);
  color: #000;
}

.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button.recommend:not(:disabled):hover {
  background-color: var(--accent-color, #00ddff);
}

.dark-mode-enabled [role="dialog"][data-type="edit"] > menu button.recommend:not(:disabled):active {
  background-color: var(--accent-color, #00ddff);
}
