/* ----------------------------------
 * Lists
 * ---------------------------------- */
[data-type="list"] {
  font-weight: 400;
  padding: 0 1.5rem;
}

[data-type="list"] ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0.3rem 1.8rem;
  overflow: hidden;
  background: #fff;
  border-radius: 1.2rem;
  box-sizing: border-box;
}

[data-type="list"] strong {
  font-weight: 500;
}

/* Title divisors */
[data-type="list"] header {
  padding: 0 1.9rem;
  margin: 0 0 -1rem;
  font-size: 1.6rem;
  height: 3rem;
  line-height: 4rem;
  font-weight: normal;
  color: var(--accent-color, #0061e0);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html[dir="ltr"] [data-type="list"] header { text-align: left; }
html[dir="rtl"] [data-type="list"] header { text-align: right; }

/* List items */
[data-type="list"] li {
  width: 100%;
  height: 6rem;
  box-sizing: border-box;
  border-bottom: solid 0.1rem #e7e9ec;
  color: #333;
  margin: 0;
  display: block;
  position: relative;
}

[data-type="list"] li:last-child {
  border: none;
}

/* Pressed State */
li a:active {
  background-color: transparent; /* remove default color for active state */
}

[data-type="list"] li > a {
  text-decoration: none;
  color: #333;
  display: block;
  height: 6rem;
  position: relative;
  border: none;
  outline: none;
}

[data-type="list"].active li:after,
[data-type="list"] li > a:after {
  content: "";
  pointer-events: none;
  position: absolute;
  left: -1.5rem;
  top: 0;
  right: -1.5rem;
  bottom: 0;
  border-radius: 0.9rem;
  transition: background-color 0.2s;
}

[data-type="list"].active li:hover:after,
[data-type="list"] li > a:hover:after {
  background-color: rgba(0,0,0,0.05);
  transition: none;
}

[data-type="list"].active li:active:after,
[data-type="list"] li > a:active:after {
  background-color: rgba(0,0,0,0.1);
  transition: none;
}

[data-type="list"].active li:hover,
[data-type="list"].active li:active {
  border-bottom: none;
}

/* Disabled */
[data-type="list"] li[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.2;
  border-color: #888;
}

/* Graphic content */
[data-type="list"] aside {
  margin: 0;
  margin-inline-end: 0.5rem;
  height: 100%;
  position: relative;
}
html[dir="ltr"] [data-type="list"] aside { float: left; }
html[dir="rtl"] [data-type="list"] aside { float: right; }

[data-type="list"] li > a aside,
[data-type="list"] li > a aside.icon {
  background-color: transparent;
}

[data-type="list"] aside.pack-end {
  margin: 0;
  margin-inline-start: 0.5rem;
  text-align: end;
}
html[dir="ltr"] [data-type="list"] aside.pack-end { float: right; }
html[dir="rtl"] [data-type="list"] aside.pack-end { float: left; }

[data-type="list"] aside.icon {
  width: 3rem;
  height: 6rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size:  100% auto;
  font-size: 0;
  display: block;
  overflow: hidden;
}
html[dir="ltr"] [data-type="list"] aside.icon {
  background-position: left center;
}
html[dir="rtl"] [data-type="list"] aside.icon {
  background-position: right center;
}

[data-type="list"] aside span[data-type=img],
[data-type="list"] aside img {
  display: block;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  background: transparent center center / cover;
  position: relative;
}

[data-type="list"] [data-icon] {
  font-size: 0;
}

[data-type="list"] [data-icon]:before {
  line-height: 6rem;
  text-align: center;
  width: 3rem;
  color: #333;
}

[data-type="list"] [data-icon="forward"]:before {
  font-size: 2rem;
  width: 2rem;
}

/* Text content */
[data-type="list"] li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #858585;
  font-size: 1.4rem;
  line-height: 2rem;
}

[data-type="list"] li p:first-of-type {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #333;
  padding: 1rem 0 0;
}

[data-type="list"] li p:only-child,
[data-type="list"] li p:first-of-type:last-of-type {
  line-height: 4rem;
}

[data-type="list"] li p em {
  font-size: 1.5rem;
  font-style: normal;
}

[data-type="list"] li p time {
  margin-inline-end: 0.3rem;
  text-transform: uppercase;
}

/* Checkable content */
[data-type="list"] li > .pack-checkbox,
[data-type="list"] li > .pack-switch {
  pointer-events: none;
  position: absolute;
  top: -0.1rem;
  bottom: 0;
  /* Intentionally adding a conflict between right/left here: this will be
   * resolved differently whether we're in LTR or RTL mode. */
  right: -4rem;
  left: -4rem;
  width: calc(100% + 4rem);
  height: auto;
}

[data-type="list"] li > .pack-checkbox input ~ span:after,
[data-type="list"] li > .pack-switch input ~ span:after {
  /* because width is set in switches.css, the conflict between left/right will
   * be resolved in favor of "left" in LTR and "right" in RTL */
  left: 0;
  right: 0;
  margin-inline-start: 0;
}

/* Edit mode */
[data-type="list"] [data-type="edit"] li {
  padding-inline-start: 4rem;
}

[data-type="list"] [data-type="edit"] li > .pack-checkbox,
[data-type="list"] [data-type="edit"] li > .pack-switch {
  pointer-events: auto;
  left: 0;
  right: 0;
}

[data-type="list"] [data-type="edit"] li > a {
  pointer-events: none;
}

[data-type="list"] [data-type="edit"] li > a:active:after,
[data-type="list"] [data-type="edit"] li > a:hover:after {
  display: none;
}

[data-type="list"] [data-type="edit"] aside.pack-end {
  display: none;
}

/* Themes */
.skin-comms [data-type="list"] header {
  color: #4997a7;
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  [data-type="list"] ul {
    margin: 1rem auto;
    max-width: 768px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    width: 100%;
  }

  [data-type="list"] header {
    margin: 1rem auto -1rem;
    max-width: 788px;
    box-sizing: border-box;
  }
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

.dark-mode-enabled [data-type="list"] ul {
  background-color: #303438;
}

/* Title divisors */
.dark-mode-enabled [data-type="list"] header {
  color: var(--accent-color, #00ddff);
}

/* List items */
.dark-mode-enabled [data-type="list"] li {
  border-bottom-color: #282c30;
  color: #fff;
}

.dark-mode-enabled [data-type="list"] li > a {
  color: #fff;
}

.dark-mode-enabled [data-type="list"].active li:hover:after,
.dark-mode-enabled [data-type="list"] li > a:hover:after {
  background-color: rgba(255,255,255,0.05);
}

.dark-mode-enabled [data-type="list"].active li:active:after,
.dark-mode-enabled [data-type="list"] li > a:active:after {
  background-color: rgba(0,0,0,0.15);
}

/* Disabled */
.dark-mode-enabled [data-type="list"] li[aria-disabled="true"] {
  border-color: #000;
}

.dark-mode-enabled [data-type="list"] aside.icon {
  background-color: #303438;
}

.dark-mode-enabled [data-type="list"] [data-icon]:before {
  color: #fff;
}

.dark-mode-enabled [data-type="list"] li p:first-of-type {
  color: #fff;
}
