/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role="toolbar"] {
  display: flex;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  background: #e0e2e5;
  border-top: 1px solid #e7e9ec;
  padding: 0 calc(50% - (768px / 2));
  padding-right: calc((50% - (768px / 2)) + 0.4rem);
}

[role="toolbar"] button,
[role="toolbar"] a {
  position: relative;
  flex: 1;
  border: none;
  background: transparent no-repeat;
  margin: 0.4rem 0 0.4rem 0.4rem;
  padding: 0;
  text-align: center;
  color: #333;
  border-radius: 0.4rem;
  height: calc(100% - 0.8rem);
  font-size: 0;
  transition: background-color 0.2s;
}

[role="toolbar"] button:hover,
[role="toolbar"] a:hover {
  background-color: rgba(0,0,0,0.05);
  transition: none;
}

[role="toolbar"] button:active,
[role="toolbar"] a:active {
  background-color: rgba(0,0,0,0.1);
  transition: none;
}

[role="toolbar"] [data-icon] {
  font-size: 0;
}

[role="toolbar"] [data-icon]:before {
  font-size: 2.4rem;
  position: relative;
  margin: 0;
  line-height: 3.7rem;
  top: unset;
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

.dark-mode-enabled [role="toolbar"] {
  background-color: #404448;
  border-top-color: #383c40;
}

.dark-mode-enabled [role="toolbar"] button,
.dark-mode-enabled [role="toolbar"] a {
  color: #fff;
}

.dark-mode-enabled [role="toolbar"] button:hover,
.dark-mode-enabled [role="toolbar"] a:hover {
  background-color: rgba(255,255,255,0.05);
}

.dark-mode-enabled [role="toolbar"] button:active,
.dark-mode-enabled [role="toolbar"] a:active {
  background-color: rgba(0,0,0,0.15);
}
