/* ----------------------------------
 * Value selector (Single & Multiple)
 * ---------------------------------- */

/* Main dialog setup */
[role="dialog"][data-type="value-selector"] {
  background: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 4.5rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0 0 7rem;
  color: #333;
  font-family: sans-serif;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1),
              0 0 0 calc(100vw + 100vh) rgba(64,64,64,0.3);
}

[role="dialog"][data-type="value-selector"] > section {
  padding: 0 1.5rem;
  box-sizing: padding-box;
  width: 100%;
  height: 100%;
}

[role="dialog"][data-type="value-selector"] h1 {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 4.8rem;
  color: #333;
  border-bottom: 0.1rem solid #e7e9ec;
  background-color: #e0e2e5;
  margin: 0 -1.5rem;
  padding: 0 3rem 1rem;
  height: 4.8rem;
  box-sizing: border-box;
}

/* Specific component code */
[role="dialog"][data-type="value-selector"] [role="listbox"] {
  position: relative;
  padding: 0;
  margin: 0 -1.5rem;
  max-height: calc(100% - 5rem);
  overflow: auto;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li {
  margin: 0;
  padding: 0 1.5rem;
  height: auto;
  list-style: none;
  position: relative;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.9rem;
  color: #333;
  transition: background-color 0.2s ease;
}

html[dir="ltr"] [role="dialog"][data-type="value-selector"] [role="listbox"],
html[dir="ltr"] [role="dialog"][data-type="value-selector"] [role="listbox"] li {
  text-align: left;
}
html[dir="rtl"] [role="dialog"][data-type="value-selector"] [role="listbox"],
html[dir="rtl"] [role="dialog"][data-type="value-selector"] [role="listbox"] li {
  text-align: right;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li:first-child label {
  border-top-color: transparent;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li label {
  outline: none;
  display: block;
  color: #333;
  border-top: 0.1rem solid #e7e9ec;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li label span {
  display: block;
  padding: 1rem 1.5rem;
  line-height: 2.8rem;
  word-wrap: break-word;
}

/* Hovered status */
[role="dialog"][data-type="value-selector"] [role="listbox"] li:hover {
  background-color: rgba(0,0,0,0.05);
  transition: none;
}

/* Pressed status */
[role="dialog"][data-type="value-selector"] [role="listbox"] li:active {
  background-color: rgba(0,0,0,0.1);
  transition: none;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li:hover label,
[role="dialog"][data-type="value-selector"] [role="listbox"] li:active label,
[role="dialog"][data-type="value-selector"] [role="listbox"] li:hover + li label,
[role="dialog"][data-type="value-selector"] [role="listbox"] li:active + li label {
  border-top-color: transparent;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li:hover label span,
[role="dialog"][data-type="value-selector"] [role="listbox"] li:active label span {
  background-image: none;
}

/* Subheaders */
[role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] {
  border: none;
  background-color: #e7e9ec;
  pointer-events: none;
  -moz-user-select: none;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] label {
  color: #4d4d4d;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] label,
[role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] + li label {
  border: none;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] label span {
  line-height: 2rem;
}

/* Checked status */
[role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] label {
  background-image: url(value_selector/images/icons/checked.png);
  background-color: transparent;
  background-size: 2.4rem;
  background-repeat: no-repeat;
}
html[dir="ltr"] [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] label {
  background-position: right 1.2rem top 50%;
}
html[dir="rtl"] [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] label {
  background-position: left 1.2rem top 50%;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] span {
  color: var(--accent-color, #0061e0);
}
html[dir="ltr"] [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] span {
  padding-right: 2.6rem;
  margin-right: 1.2rem;
}
html[dir="rtl"] [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] span {
  padding-left: 2.6rem;
  margin-left: 1.2rem;
}

/* Menu & buttons setup */
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  background: #e0e2e5;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button::-moz-focus-inner {
  border: none;
  outline: none;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button {
  width: calc((100% - 1rem) / 2);
  font-family: sans-serif;
  font-style: normal;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  border: none;
  border-radius: 0.4rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  outline: none;
}

/* Affirmative */
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative,
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend {
  background-color: var(--accent-color, #0061e0);
  color: #fff;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative:hover,
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend:hover {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative:active,
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend:active {
  background: var(--accent-color, #0061e0) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Hovered */
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:hover {
  background: #d0d2d5;
}

/* Focused */
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:focus-visible {
  outline: 0.4rem solid rgba(0, 97, 224, 0.5);
}

/* Pressed */
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:active {
  background: #c0c2c5;
}

/* Disabled */
.value-selector > [role="dialog"][data-type="value-selector"] > menu.value-selector-buttons > button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

button[disabled]::-moz-selection {
  -moz-user-select: none;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:last-child {
  margin-inline-start: 1rem;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button,
.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:first-child {
  margin: 0;
}

.value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.full {
  width: 100%;
}

@supports (backdrop-filter: blur(32px)) {
  [role="dialog"][data-type="value-selector"] {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(32px);
  }

  [role="dialog"][data-type="value-selector"] h1 {
    border-bottom: 0.1rem solid rgba(0,0,0,0.0625);
    background: rgba(0,0,0,0.125);
  }

  [role="dialog"][data-type="value-selector"] [role="listbox"] li label {
    border-top: 0.1rem solid rgba(0,0,0,0.0625);
  }

  /* Menu & buttons setup */
  [role="dialog"][data-type="value-selector"] menu.value-selector-buttons {
    background: rgba(0,0,0,0.125);
  }

  /* Subheaders */
  [role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] {
    background-color: rgba(0,0,0,0.0625);
  }
  
  .dark-mode-enabled [role="dialog"][data-type="value-selector"] {
    background-color: rgba(48, 48, 56, 0.75);
  }

  .dark-mode-enabled [role="dialog"][data-type="value-selector"] h1 {
    background-color: rgba(255,255,255,0.125);
    border-bottom-color: rgba(255,255,255,0.0625);
  }

  .dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li label {
    border-top-color: rgba(0,0,0,0.0625);
  }

  /* Menu & buttons setup */
  .dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons {
    background-color: rgba(255,255,255,0.125);
  }
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  /* Main dialog setup */
  [role="dialog"][data-type="value-selector"] {
    top: 4.5rem;
    left: calc(50% - 200px);
    right: calc(50% - 200px);
    bottom: 4.5rem;
  }
}

/* ----------------------------------
* Dark mode
* ---------------------------------- */

/* Main dialog setup */
.dark-mode-enabled [role="dialog"][data-type="value-selector"] {
  background-color: #303438;
  color: #fff;
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] h1 {
  color: #fff;
  border-bottom-color: #383c40;
  background-color: #404448;
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li {
  color: #fff;
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li label {
  color: #fff;
  border-top-color: #282c30;
}

/* Hovered status */
.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li:hover {
  background-color: rgba(255,255,255,0.05);
}

/* Pressed status */
.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li:active {
  background-color: rgba(0,0,0,0.15);
}

/* Subheaders */
.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] {
  background-color: #383c40;
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li[role="subheader"] label {
  color: #fff;
}

/* Checked status */
.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] {
  background-color: rgba(255,255,255,0.0625);
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] label {
  background-image: url(value_selector/images/icons/checked_dark.svg);
}

.dark-mode-enabled [role="dialog"][data-type="value-selector"] [role="listbox"] li[aria-selected="true"] span {
  color: var(--accent-color, #00ddff);
}

/* Menu & buttons setup */
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons {
  background-color: #404448;
}

.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button {
  background-color: #303438;
  color: #fff;
}

/* Affirmative */
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative,
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend {
  background-color: var(--accent-color, #00ddff);
  color: #000;
}

.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative:hover,
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend:hover {
  background: var(--accent-color, #00ddff) linear-gradient(0deg, rgba(0,0,0,0.125), rgba(0,0,0,0.125));
}

.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.affirmative:active,
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button.recommend:active {
  background: var(--accent-color, #00ddff) linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
}

/* Hovered */
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:hover {
  background: #202428;
}

/* Focused */
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:focus-visible {
  outline: 0.4rem solid rgba(0, 221, 255, 0.5);
}

/* Pressed */
.dark-mode-enabled .value-selector > [role="dialog"][data-type="value-selector"] menu.value-selector-buttons button:active {
  background: #101418;
}

