.gaia-list li {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gaia-list li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.gaia-list li img {
  width: 100%;
  height: 30vh;
  border-radius: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.gaia-list li div {
  overflow: hidden;
  max-height: 10rem;
  width: 100%;
}

.gaia-list li p.source {
  color: var(--accent-color);
  font-weight: bold;
}

.gaia-list .progress-holder {
  margin: 2rem auto;
  width: 10rem;
}

.gaia-list progress {
  width: 10rem;
  height: 10rem;
}

#header {
  display: flex;
}

#header-searchbox {
  margin: 0.5rem;
  border: none;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 4rem;
  border-radius: 0.4rem;
  color: var(--text-color);
  max-width: 400px;
  flex: 1;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.6rem;
  -moz-padding-start: 4rem;
}
html[dir="ltr"] #header-searchbox {
  background: var(--background) url(images/search.svg) no-repeat left 1rem center / 2rem;
}
html[dir="rtl"] #header-searchbox {
  background: var(--background) url(images/search.svg) no-repeat right 1rem center / 2rem;
}

#header-searchbox:focus ~ * {
  display: none;
}

#maps {
  height: calc(100vh - 5rem);
  color: #000;
  font-size: 1.6rem;
}

#maps .map {
  height: 100%;
}

#maps .ol-control {
  padding: 1rem;
  border-radius: 1.2rem;
}

#maps .ol-control button {
  width: 4rem;
  height: 4rem;
  background: #303438;
  border-radius: 0.6rem;
  font-size: 3rem;
  font-weight: normal;
}

#maps .ol-control button:hover {
  background: #202428;
}

#maps .ol-control button:active {
  background: #101418;
}

#maps .ol-control .ol-zoom-in {
  margin-bottom: 0.4rem;
}

#maps .ol-attribution {
  border-radius: 1.2rem 0 0 0;
}

#maps .map-info {
  position: absolute;
  right: 0;
  top: 5rem;
}

@media screen and (min-width: 600px) {
  .gaia-list li {
    flex-direction: row;
  }

  .gaia-list li img {
    width: 8rem;
    min-width: 8rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 0;
  }

  .gaia-list li div {
    width: unset;
  }

  #header-searchbox {
    -moz-margin-end: auto;
  }

  #header-searchbox:focus ~ * {
    display: block;
  }
}
