/*
Gaia theme variables
*/


:root {

  /** Accent Color
   ---------------------------------------------------------*/

  --accent-color: #0061e0;

  /** Statusbar Filter
   ---------------------------------------------------------*/

  --statusbar-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='invert'><feColorMatrix in='SourceGraphic' color-interpolation-filters='sRGB' type='matrix' values='1 -1 0.3019 0 0 0 0.3019 0 0 0 0 0 0.3019 0 0 0 0 0 1 0'/></filter></svg>#invert");

  /** Grey Colors
   ---------------------------------------------------------*/

  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858585;
  --color-zeta: #a6a6a6;
  --color-eta: #c7c7c7;
  --color-theta: #e7e7e7;
  --color-iota: #f4f4f4;

/** Brand Colors
 ---------------------------------------------------------*/

  --color-darkblue: #004080;
  --color-blue: #1565c0;
  --color-turquoise: #27c8c2;
  --color-darkorange: #bf360c;
  --color-orange: #ff7300;
  --color-yellow: #ffc712;
  --color-violet: #c40c84;

  --color-warning: var(--color-yellow);
  --color-destructive: #c10048;
  --color-preffered: #00a0e8;

  /** Background
   ---------------------------------------------------------*/

  --background: #e7e7e7;
  --background-plus: #fff;
  --background-minus: #a6a8ab;

  /** Borders
   ---------------------------------------------------------*/

  --border-color: var(--color-theta);

  /** Text Color
   ---------------------------------------------------------*/

  --text-color: #333;
  --text-color-minus: #fff;
  --label-color: #333;

  /** Button
   ---------------------------------------------------------*/

  --button-background: #e0e0e0;

  /** Links
   ---------------------------------------------------------*/

  --link-color: var(--accent-color);

  /** Inputs
   ---------------------------------------------------------*/

  --input-background: #fff;
  --input-color: #333;
  --input-clear-background: #909ca7;

  /** Buttons
   ---------------------------------------------------------*/

  --button-box-shadow:
    inset 0 -1px 0 #d8d8d8,
    inset 0 1px 0 #eeeeee;
  --button-box-shadow-active: var(--button-box-shadow);

  /** Header
   ---------------------------------------------------------*/

  --header-background: #f4f4f4;
  --header-color: #868692;
  --header-icon-color: #333;
  --header-button-color: var(--link-color);
  --header-disabled-button-color: #858585;
  --header-action-button-color: var(--link-color);

  /** Transitions
   ---------------------------------------------------------*/

  --transition-duration: 0.3s;

  /** WOS Palettes
   ---------------------------------------------------------*/

  --background-alpha: #b0b0b0;
  --background-beta: #ffffff;
  --background-gamma: #b9b9b9;
  --background-delta: #c0c0c0;
  --background-epsilon: #c7c7c7;
  --background-zeta: #d0d0d0;
  --background-eta: #d8dadd;
  --background-theta: #e0e0e0;
  --background-iota: #e7e7e7;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);
  --translucent-minus: rgba(0,0,0,0.2);
}

.dark-mode-enabled {

  /** Accent Color
  ---------------------------------------------------------*/

  --accent-color: #00ddff;

  /** Statusbar Filter
  ---------------------------------------------------------*/

  --statusbar-filter: none;

  /** Background
  ---------------------------------------------------------*/

  --background: #282828;
  --background-plus: #303030;
  --background-minus: #a6a6a6;

  /** Text Color
  ---------------------------------------------------------*/

  --text-color: #fff;
  --text-color-minus: #333;
  --label-color: #fff;

  /** Button
  ---------------------------------------------------------*/

  --button-background: #404040;

  /** Inputs
  ---------------------------------------------------------*/

  --input-background: #23222b;
  --input-color: #fff;
  --input-clear-background: #7c7b82;

  /** Header
  ---------------------------------------------------------*/

  --header-background: #383838;
  --header-color: #868692;
  --header-icon-color: #fff;

  /** WOS Palettes
  ---------------------------------------------------------*/

  --background-alpha: #000000;
  --background-beta: #303030;
  --background-gamma: #040404;
  --background-delta: #080808;
  --background-epsilon: #0c0c0c;
  --background-zeta: #101010;
  --background-eta: #181818;
  --background-theta: #202020;
  --background-iota: #282828;

  --translucent: rgba(255,255,255,0.05);
  --translucent-plus: rgba(0,0,0,0.15);
  --translucent-minus: rgba(255,255,255,0.2);
}


.theme-productivity {

  /** Brand Color
   ---------------------------------------------------------*/

  --highlight-color: #bf360c;

  /** Links
   ---------------------------------------------------------*/

  --link-color: #e64a19;

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--highlight-color);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--link-color);
  --header-disabled-button-color: rgba(0,0,0,0.3);
  --header-action-button-color: var(--color-beta);
}

.theme-communications {

  /** Brand Color
   ---------------------------------------------------------*/

  --highlight-color: #177844;

  /** Links
   ---------------------------------------------------------*/

  --link-color: #40a060;

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--highlight-color);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--link-color);
  --header-disabled-button-color: rgba(0,0,0,0.3);
  --header-action-button-color: var(--color-beta);
}

.theme-settings {

  /** Brand Color
   ---------------------------------------------------------*/

  --highlight-color: #1565c0;

  /** Links
   ---------------------------------------------------------*/

  --link-color: #2196f3;

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--highlight-color);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--color-beta);
  --header-disabled-button-color: rgba(0,0,0,0.3);
  --header-action-button-color: var(--color-beta);
}

.theme-media {

  /** Highlight Color
   ---------------------------------------------------------*/

  --highlight-color: #ec407a;

  /** Links
   ---------------------------------------------------------*/

  --link-color: #ad1457;

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--highlight-color);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--color-beta);
  --header-disabled-button-color: rgba(0,0,0,0.3);
  --header-action-button-color: var(--color-beta);

  /** Buttons
   ---------------------------------------------------------*/

   --button-box-shadow: none;
   --button-box-shadow-active: none;
}
