:root {
  --background-color-primary: #fff;
  --background-color-secondary: #e0e2e5;
  --background-color-transparent: rgba(255,255,255,0.75);
  --list-hover-color: rgba(0,0,0,0.05);
  --list-active-color: rgba(0,0,0,0.1);
  --text-color-primary: #333;
  --text-color-secondary: #6a6a6a;
  --backdrop-blur-radius: 32px;
}
.dark-mode-enabled {
  --background-color-primary: #303438;
  --background-color-secondary: #202428;
  --background-color-transparent: rgba(48,52,56,0.75);
  --list-hover-color: rgba(255,255,255,0.05);
  --list-active-color: rgba(0,0,0,0.15);
  --text-color-primary: #fff;
  --text-color-secondary: #a0a0a0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'IBM Plex Sans Arabic', system-ui, 'Noto Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-color-secondary);
}

::-webkit-scrollbar {
  display: none;
}

#groups {
  position: absolute;
  top: 0;
  width: 7rem;
  height: 100%;
  background: var(--background-color-secondary);
  padding: 1rem;
  box-sizing: border-box;
  margin: 0;
}
html[dir="ltr"] #groups {
  left: 0;
}
html[dir="rtl"] #groups {
  right: 0;
}

#groups > button {
  width: 5rem;
  height: 5rem;
  border-radius: 25%;
  border: none;
  margin: 0 0 1rem;
  padding: 0;
  background: var(--background-color-primary);
  color: var(--text-color-secondary);
  transition: transform 0.2s;
}

#groups > button:hover {
  background-color: #00a0e8;
  color: #fff;
}

#groups > button:active {
  transform: scale(0.95);
}

#groups > button:before {
  font-size: 2.4rem;
}

#groups #servers {
  margin: 0;
  padding: 1rem 0 0;
  border-top: solid 0.1rem rgba(0,0,0,0.125);
}

#groups #servers li {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--background-color-primary) url('images/group.svg') no-repeat center / cover;
  margin: 0 0 1rem;
  list-style: none;
  transition: transform 0.2s;
}

#groups #servers li:hover {
  background-color: #00a0e8;
  color: #fff;
}

#groups #servers li:active {
  transform: scale(0.95);
}

#sidebar {
  position: absolute;
  top: 0;
  width: calc(100% - 7rem);
  height: 100%;
  background: var(--background-color-secondary);
  padding: 0 1rem;
  box-sizing: border-box;
}
html[dir="ltr"] #sidebar {
  left: 7rem;
}
html[dir="rtl"] #sidebar {
  right: 7rem;
}

#sidebar > #server-title {
  width: 100%;
  margin: 0;
  height: 5rem;
  line-height: 5rem;
  font-weight: normal;
  font-size: 2.4rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background: var(--background-color-secondary);
  color: var(--text-color-primary);
}
html[dir="ltr"] #sidebar > #server-title {
  text-align: left;
}
html[dir="rtl"] #sidebar > #server-title {
  text-align: right;
}

#sidebar > #server-list {
  width: 100%;
  height: calc(100% - 5rem);
  margin: 0;
  padding: 0;
  border-radius: 1.2rem;
  overflow: auto;
}

#sidebar > #server-list > * {
  animation: listAppear 0.4s cubic-bezier(0, 0, 0, 1);
}

@keyframes listAppear {
  0% {
    transform: translateY(32px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#sidebar > #server-list header {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  color: var(--text-color-secondary);
  font-size: 1.6rem;
  position: sticky;
  top: 0;
  text-transform: uppercase;
  font-weight: bold;
}
html[dir="ltr"] #sidebar > #server-list header {
  text-align: left;
}
html[dir="rtl"] #sidebar > #server-list header {
  text-align: right;
}

#sidebar > #server-list li {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  padding: 0;
  border-radius: 1.2rem;
  padding: 0 2rem;
  box-sizing: border-box;
  color: var(--text-color-primary);
  font-size: 1.6rem;
  transition: background-color 0.2s;
}
html[dir="ltr"] #sidebar > #server-list li {
  text-align: left;
}
html[dir="rtl"] #sidebar > #server-list li {
  text-align: right;
}

#sidebar > #server-list li:hover {
  background: var(--list-hover-color);
  transition: none;
}

#sidebar > #server-list li:active {
  background: var(--list-active-color);
  transition: none;
}

#sidebar > #server-list li:before {
  content: '#';
  font-weight: bold;
}
html[dir="ltr"] #sidebar > #server-list li:before {
  margin-right: 1rem;
}
html[dir="rtl"] #sidebar > #server-list li:before {
  margin-left: 1rem;
}

#sidebar > #server-list li.user {
  position: relative;
}
html[dir="ltr"] #sidebar > #server-list li.user {
  padding-left: 5rem;
}
html[dir="rtl"] #sidebar > #server-list li.user {
  padding-right: 5rem;
}

#sidebar > #server-list li.user:before {
  content: '';
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background: #858585 var(--avatar-url) no-repeat center / cover;
  position: absolute;
  top: 0.5rem;
  border-radius: 50%;
  margin: 0;
}
html[dir="ltr"] #sidebar > #server-list li:before {
  left: 1rem;
}
html[dir="rtl"] #sidebar > #server-list li:before {
  right: 1rem;
}

#sidebar > #server-list li.selected {
  background: var(--background-color-primary);
}

#content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color-primary);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}
html[dir="ltr"] #content {
  right: 0;
  transform: translateX(100%);
}
html[dir="rtl"] #content {
  left: 0;
  transform: translateX(-100%);
}

#content.visible {
  transform: none !important;
}

@media screen and (min-width: 768px) {
  #sidebar {
    width: 256px;
  }

  #content {
    width: calc(100% - 256px - 7rem);
    transform: none !important;
  }
}
