#messages {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 5rem 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

#messages > .message {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
  position: relative;
  transition: background-color 0.2s;
}

#messages > .message:hover {
  background: var(--list-hover-color);
  transition: none;
}

#messages > .message .avatar {
  position: absolute;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #858585;
}
html[dir="ltr"] #messages > .message:not(.yours) .avatar,
html[dir="rtl"] #messages > .message.yours .avatar {
  left: 1rem;
}
html[dir="ltr"] #messages > .message.yours .avatar,
html[dir="rtl"] #messages > .message:not(.yours) .avatar {
  right: 1rem;
}

html[dir="ltr"] #messages > .message:not(.yours) .content,
html[dir="rtl"] #messages > .message.yours .content {
  margin-left: 5.5rem;
}
html[dir="ltr"] #messages > .message.yours .content,
html[dir="rtl"] #messages > .message:not(.yours) .content {
  margin-right: 5.5rem;
}

#messages > .message .content > .info {
  color: var(--text-color-secondary);
  font-size: 1.4rem;
  display: flex;
}

#messages > .message.yours .content > .info {
  flex-direction: row-reverse;
}

#messages > .message .content > .info .username {
  font-weight: bold;
}
html[dir="ltr"] #messages > .message:not(.yours) .content > .info .username,
html[dir="rtl"] #messages > .message.yours .content > .info .username {
  margin-right: 1rem;
}
html[dir="ltr"] #messages > .message.yours .content > .info .username,
html[dir="rtl"] #messages > .message:not(.yours) .content > .info .username {
  margin-left: 1rem;
}

#messages > .message .context {
  background: var(--background-color-secondary);
  margin: 0.4rem 0;
  padding: 1rem;
  box-sizing: border-box;
  width: max-content;
  max-width: 512px;
  display: block;
  font-size: 1.6rem;
  color: var(--text-color-primary);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1), 0 0.2rem 0.4rem rgba(0,0,0,0.3);
}
html[dir="ltr"] #messages > .message:not(.yours) .context,
html[dir="rtl"] #messages > .message.yours .context {
  border-radius: 0.4rem 2rem 2rem 2rem;
  margin-right: auto;
}
html[dir="ltr"] #messages > .message.yours .context,
html[dir="rtl"] #messages > .message:not(.yours) .context {
  border-radius: 2rem 0.4rem 2rem 2rem;
  margin-left: auto;
}

#messages > .message .context a {
  color: #0061e0;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

#messages > .message.yours .context a {
  color: #c0ffd8 !important;
}

#messages > .message .context mark {
  border-radius: 0.4rem;
}

#messages > .message .context iframe {
  border: none;
  border-radius: 1rem;
  width: 300px;
  height: 170px;
}

#messages > .message.yours .context {
  background: #40a060;
  color: #fff;
}

.dark-mode-enabled #messages > .message .context a {
  color: #00ddff;
}
