.bb-tablist li.home .bb-tabpanel {
  background: linear-gradient(to bottom, #40c0ff, #3080e0);
}

.bb-tablist li.home:target a {
  background-color: #3080e0 !important;
  color: #fff;
  border-top-color: rgba(0,0,0,0.5);
}

.bb-tablist li.home:target a:before {
  filter: brightness(999);
}

.night .bb-tablist li.home .bb-tabpanel {
  background: linear-gradient(to bottom, #203860, #001830);
}

.night .bb-tablist li.home:target a {
  background-color: #001830 !important;
}

.bb-tablist .bb-tabpanel {
  background: var(--background-theta);
}

.bb-tablist li:target {
  background: var(--background-plus);
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
}

.bb-tablist li:target > a {
  color: var(--text-color);
}

